body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  color: #434455;
  text-decoration: none;
}
button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}
h1,
h2 {
  font-weight: 700;
}
h2,
h3 {
  color: #2e2f42;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: white;
}

/* Header */
.header {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
}

.main-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

/* ? Який підхід вважатиметься правельним? */
/* ? A (мені подобається цей, адже в такому разі ми точно знаємо що лого містить span) */
.main-logo span {
  color: #4d5ae5;
}
/* ? B */
/* .logo-span {
  color: #4D5AE5;
} */

.navbar-menu a {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
address a {
  font-weight: 400;
  font-style: normal;
}
.navbar-menu a:hover,
.navbar-menu a:focus,
address a:hover,
address a:focus {
  color: #404bbf;
}
.section-hero {
  background-color: #2e2f42;
}
.button {
  background-color: #4d5ae5;
  padding: 16px 32px;
  color: white;
  border-radius: 4px;
}
.section-features {
  background-color: #fff;
}
.section-title-h2 {
  font-size: 36px;
  letter-spacing: 0.72px;
  line-height: 1.11;
  text-align: center;
}
.item-title-h3 {
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.2;
  font-weight: 500;
}
.section-team {
  background-color: #f4f4fd;
  text-align: center;
}
.section-portfolio {
  background-color: #fff;
}
.footer {
  background-color: #2e2f42;
  color: #fff;
}
.footer .main-logo {
  color: inherit;
}
